<div id="wrap-btns">
    <button>%</button>
    <button>CE</button>
    <button (click)="clearEvent()">C</button>
    <button><</button>
    <button>1/x</button>
    <button>x2</button>
    <button >x</button>
    <button (click)="addSign('÷')">÷</button>
    <button class="numbers" (click)="add('7')">7</button>
    <button class="numbers" (click)="add('8')">8</button>
    <button class="numbers" (click)="add('9')">9</button>
    <button (click)="addSign('x')">x</button>
    <button class="numbers"  (click)="add('4')">4</button>
    <button class="numbers"  (click)="add('5')">5</button>
    <button class="numbers"  (click)="add('6')">6</button>
    <button (click)="addSign('-')">-</button>
    <button class="numbers"  (click)="add('1')">1</button>
    <button class="numbers"  (click)="add('2')">2</button>
    <button class="numbers"  (click)="add('3')">3</button>
    <button (click)="addSign('+')">+</button>
    <button class="symbols">+/-</button>
    <button class="numbers"  (click)="add('0')">0</button>
    <button class="symbols"  (click)="add('.')">.</button>
    <button class="equal" (click)="pressEqual('=')">=</button>
  </div>